<h1>Equipement : {{Equipement}}</h1>
<a href="{% url 'Equipements' %}">Go Back</a>
<table>
    <tr>
        <th>Item</th>
    </tr>
    <tr>
        <td> Designation</td>
        <td> {{Equipement.Designation}}</td>
    </tr>
    <tr>
        <td> Code_Equip</td>
        <td> {{Equipement.Code_Equip}}</td>
    </tr>

    <tr>
        <td> Date_Ach</td>
        <td> {{Equipement.Date_Ach}}</td>
    </tr>

    <tr>
        <td> Carct_tech</td>
        <td> {{Equipement.Carct_tech}}</td>
    </tr>


</table>