{% extends 'bd/main.html' %} {% block content %} Equipement : {{Equipement}}</h1>
<a href="{% url 'Equipements' %}">Go Back</a>
<table>
    <tr>
        <th>Item</th>
    </tr>

    {% for instance in all_fiedls %} {% for field, value in instance.fields.items %} {% if field|first not in 'id' %}
    <tr>
        <td>{{ field }}</td>
        <td>{{ value }}</td>
        {% endif %} {% endfor %} </tr>
    {% endfor %}


    <tr>
        <td> id_Emplacement</td>
        <td> {{Equipement.id_Emplacement}}</td>
    </tr>


    <tr>
        <td> id_Document</td>
        <hr>
        <td> {{Equipement.id_Document}}</td>
    </tr>
    {% for instance in Pannes %} {% for field, value in instance.fields.items %} {% if field|first not in 'id' %}

    <tr>
        <td>{{ field }}</td>
        <td>{{ value }}</td>
        {% endif %} {% endfor %} </tr>
    {% endfor %}
</table>{% endblock content %}